@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Change this number to set the number of lines */
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fade-in {
  animation: appear 1s ease-in-out;
}

.slide-right {
  animation: slide-right 0.5s ease-in-out;
}
