@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; /* Change this number to set the number of lines */
}
